.main {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    text-align: center;
}

.piano {
    padding: 1%;
    width: 100%;
    height: 100%;
    /* Fallback for browsers that don't support gradients */
    background: black;
    /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(0deg, black 75%, black 79%, silver 80%, white 81%, silver 82%, black 83%);
    /* For Internet Explorer 10 */
    background: -ms-linear-gradient(0deg, black 75%, black 79%, silver 80%, white 81%, silver 82%, black 83%);
    /* Standard syntax */
    background: linear-gradient(60deg, black 75%, black 79%, silver 80%, white 81%, silver 82%, black 83%);
}

.container {
    display: flex;
    background-color: black;
}

.title-box {
    width: 'auto';
}
.title {
    font-family: 'Monoton', sans-serif;
    font-size: 4em;
    color:white;
}

.wrapper, .piano {
    color:white;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
}